<html><head>

    <title>新建商品</title>
    <meta  charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jedate.css">
    <script src="__PUBLIC__/Admin/js/jquery-2.1.0.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.jedate.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="#">产品管理</a></li>
    <li><a href="#">产品列表</a></li>
    <li><a href="#">商品列表</a></li>
    <li class="active">新建商品</li>
</ol>
<div class="container row" style="background-color:white;padding-top:20px">
    <form action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">*商品名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" id="name" placeholder="输入产品名称,24字以内 ">
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*图片</label>
            <div class="col-sm-4" id="headpic">
            </div>

            <!-- <div class="col-sm-4">
                 <span id="upload">上传</span>
             </div>-->
            <label class="col-sm-4" style="line-height:35px;color:#697a9c"></label>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">*单价</label>
            <div class="col-sm-4">
                <div>
                    <input type="text" class="form-control col-sm-3" name="price" id="price">
                </div>
            </div>
            <label for="" class=" control-label">元</label>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">市场价</label>
            <div class="col-sm-4">
                <div>
                    <input type="text" class="form-control col-sm-3" name="orginprice" id="orginprice">
                </div>
            </div>
            <label for="" class=" control-label">元</label>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">*库存</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="num" id="num">
            </div>
            <label for="" class="control-label">件</label>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">*限购</label>
            <div class="col-sm-2">
                <select name="limittype" class="form-control" id="limittype">
                    <option value="1">不限购</option>
                    <option value="2">按用户限购</option>
                    <option value="3">按订单限购</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="limitnum" id='limitnum' disabled>
            </div>
            <label for="" class=" control-label">份</label>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">*状态</label>
            <div class="col-sm-4">
                <select name="status" class="form-control" id="status">
                    <option value="1">上线</option>
                    <option value="2">下线</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" name="submit" id="surebtn" class="btn btn-primary" style="width:120px;background:#1AB394;border:0">保存</button>
            </div>
        </div>
        {__TOKEN__}
    </form>
</div>
<script>
    var numsreg =  /^[1-9]\d*$/;
    var reg = /^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/;
    //图片


    function strpic(url,oneimageclass) {
        var str = '<div style="display:inline-block;height: 115px;width:110px;margin-right: 10px" data-path="'+url+'" class="'+oneimageclass+'"><img src="https://file.rose52.com'+url+'"  alt="" width="100" height="100" path="'+url+'" style="margin-top: 15px;margin-left: 10px;float: left;"><div  class="del" style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;width: 20px;height: 20px; cursor: pointer" path="'+url+'">x</div></div>';
        return str;
    }
    var uploadTicket = {policy:null,authorization:null,bucket:null};
    $.post("{:U('AjaxApi/Upyun/getUpyunPolicyAndAuthorization')}",{},function (res) {
        uploadTicket.policy = res.policy;
        uploadTicket.authorization = res.authorization;
        uploadTicket.bucket = res.bucket;
        var uploadcontainer1 = 'headpic';
        var initpic1 = '';
        createUploadStr(uploadcontainer1,1,initpic1);

    },'json');
    // 删除
    $(document).on('click','.del', function () {
        var path = $(this).attr('path');
        var uploadcontainer = $(this).parent().parent().attr('id');
        var nowimgNum = $("."+uploadcontainer).length;
        $(this).parent().remove();
        var nowpath = uploadpathstr(uploadcontainer);
        console.log(path);
        var maxPicNum = parseInt($("#"+uploadcontainer).attr("maxpicnum"));
        if (nowpath == ''&& !($("."+uploadcontainer+'Pupload').length)) {
            createUploadStr(uploadcontainer, maxPicNum, '');
        } else if(maxPicNum == nowimgNum){
            createUploadStr(uploadcontainer, maxPicNum, '');
        }

    })
    function uploadpathstr(uploadcontainer) {
        var nowpath = '';
        $("."+uploadcontainer).each(function () {
            var path = $(this).attr('data-path');
            nowpath +=path+",";
        })
        nowpath = nowpath.substr(0,nowpath.length-1);
        $("#"+uploadcontainer).attr('uploadpath', nowpath);
        return nowpath;
    }
    function createUploadStr(uploadcontainer,maxPicNum,initpic) {
        var timestamp = Date.parse(new Date());
        var uploadid = uploadcontainer+timestamp;
        var imgstr = '<div class="'+uploadcontainer+'Pupload" style="display:inline-block;height: 115px;width:110px;margin-right: 10px" id="parent'+uploadid+'" ><img id="'+uploadid+'" src="__PUBLIC__/Admin/images/addpic.jpg"  alt="" width="100" height="100" style="margin-top: 15px;margin-left: 10px;float: left;"><div style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;">&nbsp;</div></div>'
        $("#"+uploadcontainer).attr("maxpicnum",maxPicNum);
        if (initpic != '' && initpic != undefined) {
            $("#"+uploadcontainer).attr('uploadpath',initpic);
            initpic = initpic.split(',');
            var tempstr = '';
            for (var i = 0; i < initpic.length; i++) {
                tempstr += strpic(initpic[i], uploadcontainer);
            }
            $("#"+uploadcontainer).append(tempstr);
            if (initpic.length < maxPicNum) {
                $("#"+uploadcontainer).append(imgstr);
                createPuoload(uploadcontainer,uploadid,maxPicNum);
            }
        } else {
            $("#"+uploadcontainer).append(imgstr);
            createPuoload(uploadcontainer,uploadid,maxPicNum);
        }

    }

    function createPuoload(uploadcontainer,uploadid,maxPicNum) {
        var  uploader = new plupload.Uploader({
            browse_button : uploadid, //触发文件选择对话框的按钮，为那个元素id
            url : 'https://v0.api.upyun.com/' + uploadTicket.bucket, //服务器端的上传页面地址
            filters: {
                mime_types: [
                    {title: 'Image files', extensions: 'jpg,gif,png,jpeg'}
                ],
                prevent_duplicates: true // 不允许选取重复文件
            },
            multipart: true,
            multipart_params: {
                'Filename': '${random}', // adding this to keep consistency across the runtimes
                'Content-Type': '',
                'policy': uploadTicket.policy,
                'authorization': uploadTicket.authorization
                /*'signature': '<?php echo $signature; ?>' */
            },
            flash_swf_url : 'js/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
            silverlight_xap_url : 'js/Moxie.xap' //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
        });

        //在实例对象上调用init()方法进行初始化
        uploader.init();

        //绑定各种事件，并在事件监听函数中做你想做的事
        uploader.bind('FilesAdded',function(uploader,files){
            var nownum = $("."+uploadcontainer).length;
            if (nownum + uploader.files.length > maxPicNum) {
                for(var i in files){
                    uploader.removeFile(files[i].id);
                }
                alert('多做上传'+maxPicNum+'张');
                return;
            }
            $("#parent"+uploadid).remove();
            uploader.start();
            //每个事件监听函数都会传入一些很有用的参数，
            //我们可以利用这些参数提供的信息来做比如更新UI，提示上传进度等操作
        });

        uploader.bind('FileUploaded',function (uploader,files,info) {
            var response = JSON.parse(info.response);
            var url = response.url;
            var str = strpic(url,uploadcontainer);
            uploader.removeFile(files.id);
            $("#"+uploadcontainer).append(str);
        })

        uploader.bind('UploadComplete', function (uploader, files) {
            var nownum = $("."+uploadcontainer).length;
            if (nownum <maxPicNum) {
                createUploadStr(uploadcontainer,maxPicNum);
            }
            uploadpathstr(uploadcontainer);
            uploader.destroy();
        })
    }

    function strlen(str) {
        var len = 0;
        for (var i = 0; i < str.length; i++) {
            var c = str.charCodeAt(i);
            //单字节加1
            if ((c >= 0x0001 && c <= 0x007e) || (0xff60 <= c && c <= 0xff9f)) {
                len++;
            }
            else {
                len += 1;
            }
        }
        return len;
    }
    $(function () {
        $("#limittype").change(function () {
            var type = $(this).val();
            if (type == 1) {
                $("#limitnum").prop('disabled', true);
                $("#limitnum").val('');
            } else {
                $("#limitnum").prop('disabled', false);
            }
        })
        $("#surebtn").click(function () {
            var name = $('#name').val();
            var getblen = function(info) {
                if (info == null) return 0;
                if (typeof info != "string"){
                    info += "";
                }
                return info.replace(/[^\x00-\xff]/g,"01").length/2;
            }
            var pic = '';
            var price = $("#price").val();
            var num = $("#num").val();
            var limittype = $("#limittype").val();
            var limitnum = $("#limitnum").val();
            var status = $("#status").val();
            var productid = "{$Think.get.productid}";
            var orginprice = $("#orginprice").val();
            pic = $("#headpic").attr('uploadpath');
            var token = $("input[name='__hash__']").val();

            if (!name) {
                alert('请输入产品名称');
            } else if(getblen(name)>24) {
                alert('产品名称最多输入24字');
            } else if (!pic) {
                alert('请上传图片');
            } else if (!price) {
                alert('请输入价格');
            } else if (!reg.test(price)) {
                alert('请输入正确的价格');
            } else if(!num) {
                alert('请输入库存');
            } else if (!numsreg.test(num)) {
                alert('请输入大于0的整数')
            } else if (limittype >1 && !limitnum) {
                alert('请输入限购数量');
            } else if (limittype>1 && !numsreg.test(limitnum)) {
                alert('限购数量需要大于0');
            } else if (orginprice && (!reg.test(orginprice) || orginprice <=0)) {
                alert("请输入正确的市场价,且必须大于0");
            } else if (!token) {
                window.alert('令牌失效，请刷新后重新提交');
            } else {
                $.post("{:U('saveExpressGoods')}",
                    {
                        name:name,
                        pic:pic,
                        price:price,
                        nums:num,
                        limittype:limittype,
                        limitnum:limitnum,
                        status:status,
                        productid:productid,
                        orginprice:orginprice,
                        token:token
                    },
                    function (res) {
                        if (res.state) {
                            alert(res.msg);
                            window.location.href="{:U('goodsExpressIndex')}?productid="+productid;
                        } else {
                            alert(res.msg);
                        }
                    },
                    'json'
                )
            }
        })
    })
</script>
</body>
