<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑banner</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jedate.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.jedate.js"></script>
    <link href="__PUBLIC__/Admin/css/select2.min.css" rel="stylesheet" />
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">运营位管理</a></li>
    <li class="active">编辑banner</li>
</ol>
<div class="container row" style="background-color:white;padding-top:50px">
    <form action="#" method="post" class="form-horizontal">
        <input type="text" id="bannerId" value="{$rst.id}" style="display: none">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*banner名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"  value="{$rst.title}" name="name" placeholder="输入banner名称" id="title">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*宣传图</label>
            <div class="col-sm-1" id="pic">
            </div>
            <div class="col-sm-1" style="margin-top:48px;margin-left: 20px">
                <p style="width:80px;margin-left: 20px;text-align:center;color:red" >*限750*255</p>
            </div>
            <label class="col-sm-2" style="line-height:35px;color:#697a9c"></label>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*落地页</label>
            <div class="col-sm-2" id="" style="z-index: 10000">
                <select  name=""  class="form-control" id="urltype">
                    <option <if condition="$rst.urltype eq 1">selected</if> value="1">产品</option>
                    <option  <if condition="$rst.urltype eq 2">selected</if> value="2">管家</option>
                    <option  <if condition="$rst.urltype eq 3">selected</if> value="3">链接</option>
                    <option  <if condition="$rst.urltype eq 4">selected</if> value="4">分类</option>
                </select>
            </div>
            <div class="col-sm-3" id="condition">
                <select name="" id="productselect" class="form-control" style="height:28px"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*在线时间</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="showstarttime"  name="goodname" value="{$rst.showstarttime|date='Y-m-d H:i:s',###}" placeholder="选择开始时间">
            </div>
            <div class="col-sm-1 control-label" style="text-align: center;margin-left: -47px;margin-right: -47px;">
                一
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="showendtime"  value="{$rst.showendtime|date='Y-m-d H:i:s',###}"  name="goodname" placeholder="选择结束时间">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*显示城市</label>
            <div class="col-sm-1" style="margin-top:5px">
                <input type="radio" <if condition="$rst.city_type eq 1">checked</if> name="status" class="status" value="1" checked id="">白名单
            </div>
            <div class="col-sm-1" style="margin-top:5px">
                <input type="radio" <if condition="$rst.city_type eq 2">checked</if> name="status" class="status" value="2"  id="">黑名单
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" ></label>
            <div class="col-sm-2" id="wenan">
                <if condition="$rst.city_type eq 1">
                    <span style="color:#d4d4d4">*只在以下城市显示</span>
                    <else />
                    <span style="color:#d4d4d4">*不在以下城市显示</span>
                </if>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" ></label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" id="servicecity"  name="servicecity" placeholder="">-->
                <select class="js-example-basic-multiple col-sm-12" name="states[]" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*帧数</label>
            <div class="col-sm-4">
                <select  name=""  class="form-control" id="frame">
                    <option value="1" <if condition="$rst.frame eq 1">selected</if>>1</option>
                    <option value="2" <if condition="$rst.frame eq 2">selected</if>>2</option>
                    <option value="3"  <if condition="$rst.frame eq 3">selected</if>>3</option>
                    <option value="4"  <if condition="$rst.frame eq 4">selected</if>>4</option>
                    <option value="5"  <if condition="$rst.frame eq 5">selected</if>>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*状态</label>
            <div class="col-sm-4">
                <select  name=""  class="form-control" id="ishow">
                    <option value="1" <if condition="$rst.ishow eq 1">selected</if>>在线</option>
                    <option value="2" <if condition="$rst.ishow eq 2">selected</if>>下线</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" name="" id="surebtn" class="btn btn-primary" style="width:140px;background:#1AB394;border:0">保存</button>
            </div>
        </div>
    </form>
</div>
<script>

    //黑白名单文案显示操作
    $('.status').click(function(){
        var status = $('.status:checked').val();
        console.log(status);
        if(status==2){
            var instr='<span style="color:#d4d4d4">*不在以下城市显示</span>';
            $("#wenan").html(instr);
        }else{
            var instr='<span style="color:#d4d4d4">*只在以下城市显示</span>';
            $("#wenan").html(instr);
        }
    })


    //初始化落地页分类数据
    $(function () {
        var select2id = '{$rst.urltvalue}';
        var select2name = '{$rst.urltname}';
        var type = '{$rst.urltype}';

        var ids = [];
        var data = [];
        var inputstr1 = '';
        if (type ==1) {
            inputstr='<select class="col-sm-12" id="productselect" name="urltvalue" "></select>';
            $("#condition").html(inputstr);
            var select2ids = select2id+','+select2name+','+type;
            data.push({id: select2ids, text: select2name});
            ids.push(select2ids);
            $('#productselect').select2({
                placeholder:'请输入产品ID或名称',
                data : data,
                ajax: {
                    url: "{:U('serachValeByType')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            value: params.term,
                            type: 1
                        };
                    },
                    processResults: function (data) {
                        console.log(888);
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            }).val(ids).trigger("change");

        }else if(type==2){
            inputstr='<select class="col-sm-12" id="guanjiaselect" name="urltvalue"></select>';
            $("#condition").html(inputstr);
            data.push({id:select2id,text:select2name});
            ids.push(select2id);
            $('#guanjiaselect').select2({
                placeholder:'请输入管家ID或名称',
                data : data,
                ajax: {
                    url: "{:U('serachValeByType')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            value: params.term,
                            type: 2
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            }).val(ids).trigger("change");
        }else if(type==4){
            inputstr='<select class="col-sm-12" id="two" name="urltvalue"></select>';
            $("#condition").html(inputstr);
            data.push({id:select2id,text:select2name});
            ids.push(select2id);
            $('#two').select2({
                placeholder:'请输入分类ID或名称',
                data : data,
                ajax: {
                    url: "{:U('serachValeByType')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            value: params.term,
                            type:4
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            }).val(ids).trigger("change");
        }else if(type==3) {
            inputstr='<input type="text" class="form-control"  name="" id="urltvalue" placeholder="输入链接地址" style="height:28px">';
            $("#condition").html(inputstr);
            $('#urltvalue').val(select2name);
        }
    })


    //搜索显示城市
    //搜索显示城市
    var citys = '{$rst.servicecity}';
    var data = [];
    var ids = [];
    if (citys) {
        citys = citys.split('|');
    }
    for (var i = 0;i<citys.length;i++){
        var temp = citys[i].split(',');
        data.push({id:temp[0],text:temp[1]});
        ids.push(temp[0]);
    }
    $('.js-example-basic-multiple').select2({
        placeholder:'请选择输入服务城市',
        data:data,
        ajax: {
            url: "{:U('Operation/OperationGuanJia/getAllCity')}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    param: params.term,
                };
            },
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1
    }).val(ids).trigger("change");


    //搜索型下拉框
    // $("#condition select").searchableSelect();

    //获取当前日期时间
    var newDate = new Date();
    Date.prototype.format = function(format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S+": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                    ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    }

    var nowdate = newDate.format('yyyy-MM-dd');
    nowdate+=' 00:00:00';
    //日期插件
    $("#showstarttime").jeDate({
        format: "YYYY-MM-DD hh:mm:ss",
        minDate:nowdate
    })
    $("#showendtime").jeDate({
        format: "YYYY-MM-DD hh:mm:ss",
        minDate:nowdate
    })

    $('#urltype').change(function () {
        var type = $(this).val();
        var inputstr = '';
        if (type ==1) {
            inputstr='<select class="col-sm-12" id="productselect" name="urltvalue" "></select>';
        }else if(type==2){
            inputstr='<select class="col-sm-12" id="guanjiaselect" name="urltvalue"></select>';
        }else if(type==4){
            inputstr='<select class="col-sm-12" id="two" name="urltvalue"></select>';
        }else {
            inputstr='<input type="text" class="form-control"  name="" id="urltvalue" placeholder="输入链接地址" style="height:28px">';
        }
        $("#condition").html(inputstr);
        selects(type)
    })
    function selects(type) {
        if (type == 1) {
            $('#productselect').select2({
                placeholder:'请输入产品ID或名称',
                ajax: {
                    url: "{:U('serachValeByType')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            value: params.term,
                            type:'1'
                        };
                    },
                    processResults: function (data) {
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            });
        } else if(type == 2) {
            $('#guanjiaselect').select2({
                placeholder:'请输入管家ID或名称',
                ajax: {
                    url: "{:U('serachValeByType')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            value: params.term,
                            type:'2'
                        };
                    },
                    processResults: function (data) {
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            });
        }else if(type == 4) {
            $('#two').select2({
                placeholder:'请输入分类ID或名称',
                ajax: {
                    url: "{:U('serachValeByType')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            value: params.term,
                            type:'4'
                        };
                    },
                    processResults: function (data) {
                        console.log(data);
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            });
        }
    }


    function strpic(url,oneimageclass) {
        var str = '<div style="display:inline-block;height: 115px;width:110px;margin-right: 10px" data-path="'+url+'" class="'+oneimageclass+'"><img src="https://file.rose52.com'+url+'"  alt="" width="100" height="100" path="'+url+'" style="margin-top: 15px;margin-left: 10px;float: left;"><div  class="del" style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;width: 20px;height: 20px; cursor: pointer" path="'+url+'">x</div></div>';
        return str;
    }
    var uploadTicket = {policy:null,authorization:null,bucket:null};
    $.post("{:U('AjaxApi/Upyun/getUpyunPolicyAndAuthorization')}",{},function (res) {
        uploadTicket.policy = res.policy;
        uploadTicket.authorization = res.authorization;
        uploadTicket.bucket = res.bucket;
        var uploadcontainer1 = 'pic';
        var initpic1 = '{$rst.pic}';
        createUploadStr(uploadcontainer1,1,initpic1);

    },'json');
    // 删除
    $(document).on('click','.del', function () {
        var path = $(this).attr('path');
        var uploadcontainer = $(this).parent().parent().attr('id');
        var nowimgNum = $("."+uploadcontainer).length;
        $(this).parent().remove();
        var nowpath = uploadpathstr(uploadcontainer);
        console.log(path);
        var maxPicNum = parseInt($("#"+uploadcontainer).attr("maxpicnum"));
        if (nowpath == ''&& !($("."+uploadcontainer+'Pupload').length)) {
            createUploadStr(uploadcontainer, maxPicNum, '');
        } else if(maxPicNum == nowimgNum){
            createUploadStr(uploadcontainer, maxPicNum, '');
        }

    })
    function uploadpathstr(uploadcontainer) {
        var nowpath = '';
        $("."+uploadcontainer).each(function () {
            var path = $(this).attr('data-path');
            nowpath +=path+",";
        })
        nowpath = nowpath.substr(0,nowpath.length-1);
        $("#"+uploadcontainer).attr('uploadpath', nowpath);
        return nowpath;
    }
    function createUploadStr(uploadcontainer,maxPicNum,initpic) {
        var timestamp = Date.parse(new Date());
        var uploadid = uploadcontainer+timestamp;
        var imgstr = '<div class="'+uploadcontainer+'Pupload" style="display:inline-block;height: 115px;width:110px;margin-right: 10px" id="parent'+uploadid+'" ><img id="'+uploadid+'" src="__PUBLIC__/Admin/images/addpic.jpg"  alt="" width="100" height="100" style="margin-top: 15px;margin-left: 10px;float: left;"><div style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;">&nbsp;</div></div>'
        $("#"+uploadcontainer).attr("maxpicnum",maxPicNum);
        if (initpic != '' && initpic != undefined) {
            $("#"+uploadcontainer).attr('uploadpath',initpic);
            initpic = initpic.split(',');
            var tempstr = '';
            for (var i = 0; i < initpic.length; i++) {
                tempstr += strpic(initpic[i], uploadcontainer);
            }
            $("#"+uploadcontainer).append(tempstr);
            if (initpic.length < maxPicNum) {
                $("#"+uploadcontainer).append(imgstr);
                createPuoload(uploadcontainer,uploadid,maxPicNum);
            }
        } else {
            $("#"+uploadcontainer).append(imgstr);
            createPuoload(uploadcontainer,uploadid,maxPicNum);
        }

    }

    function createPuoload(uploadcontainer,uploadid,maxPicNum) {
        var  uploader = new plupload.Uploader({
            browse_button : uploadid, //触发文件选择对话框的按钮，为那个元素id
            url : 'https://v0.api.upyun.com/' + uploadTicket.bucket, //服务器端的上传页面地址
            filters: {
                mime_types: [
                    {title: 'Image files', extensions: 'jpg,gif,png,jpeg'}
                ],
                prevent_duplicates: true // 不允许选取重复文件
            },
            multipart: true,
            multipart_params: {
                'Filename': '${random}', // adding this to keep consistency across the runtimes
                'Content-Type': '',
                'policy': uploadTicket.policy,
                'authorization': uploadTicket.authorization
                /*'signature': '<?php echo $signature; ?>' */
            },
            flash_swf_url : 'js/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
            silverlight_xap_url : 'js/Moxie.xap' //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
        });

        //在实例对象上调用init()方法进行初始化
        uploader.init();

        //绑定各种事件，并在事件监听函数中做你想做的事
        uploader.bind('FilesAdded',function(uploader,files){
            var nownum = $("."+uploadcontainer).length;
            var reader = new FileReader();
            reader.readAsDataURL(files[0].getNative());
            reader.onload = (function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    if (this.width == 750 && this.height == 255) {
                        if (nownum + uploader.files.length > maxPicNum) {
                            for(var i in files){
                                uploader.removeFile(files[i].id);
                            }
                            alert('多做上传'+maxPicNum+'张');
                            return;
                        }
                        $("#parent"+uploadid).remove();
                        uploader.start();
                    } else {
                        for(var i in files){
                            uploader.removeFile(files[i].id);
                        }
                        alert('请上传750*255图片');
                    }

                };
            });

            //每个事件监听函数都会传入一些很有用的参数，
            //我们可以利用这些参数提供的信息来做比如更新UI，提示上传进度等操作
        });

        uploader.bind('FileUploaded',function (uploader,files,info) {
            var response = JSON.parse(info.response);
            var url = response.url;
            var str = strpic(url,uploadcontainer);
            uploader.removeFile(files.id);
            $("#"+uploadcontainer).append(str);
        })

        uploader.bind('UploadComplete', function (uploader, files) {
            var nownum = $("."+uploadcontainer).length;
            if (nownum <maxPicNum) {
                createUploadStr(uploadcontainer,maxPicNum);
            }
            uploadpathstr(uploadcontainer);
            uploader.destroy();
        })
    }
    /*banner提交信息*/
    $('#surebtn').click(function () {
        var id = $("#bannerId").val();
        var title = $("#title").val();
        var pic = $("#pic").attr('uploadpath');
        var urltype = $("#urltype").val();
        var urltvalue='';
        var urltname='';
        if(urltype==4) {
            var urltvalues = $('#two').select2('data')[0];
            console.log(urltvalues);
            if (urltvalues) {
                var u = urltvalues.id ;
                urltvalue = u.substring(0, u.indexOf(",")) ;
                urltname=urltvalues.text;
            }
        }else if(urltype==2){
            var urltvalues = $('#guanjiaselect').select2('data')[0];
            console.log(urltvalues);
            if (urltvalues) {
                var u = urltvalues.id ;
                urltvalue = u.substring(0, u.indexOf(",")) ;
                urltname=urltvalues.text;
            }
        } else if(urltype==1){
            var urltvalues = $('#productselect').select2('data')[0];
            if (urltvalues) {
                var u = urltvalues.id ;
                urltvalue = u.substring(0, u.indexOf(",")) ;
                urltname=urltvalues.text;
            }
        }else{
            urltname = $("#urltvalue").val();
            urltvalue = $("#urltvalue").val();
        }
        var showstarttime = $("#showstarttime").val();
        var showendtime = $("#showendtime").val();
        var frame = $("#frame").val();
        var ishow = $("#ishow").val();

        var servicecity = '';
        var servicecityData = $('.js-example-basic-multiple').select2('data');
        if (servicecityData.length > 0) {
            for (var i=0; i<servicecityData.length;i++) {
                var text = servicecityData[i].text;
                var tempid = servicecityData[i].id;
                servicecity+=tempid+','+text+'|';
            }
            servicecity = servicecity.substr(0,servicecity.length-1);
        }  else {
            servicecity = '';
        }

        var city_type=$('.status:checked').val();  //alert( ' city_type: '+city_type ) ; 

        if(!title){
            window.alert('请输入banner名称');
        }else if(!pic){
            window.alert('请上传宣传图');
        }else if(!urltype){
            window.alert("请输入落地页类型");
        }else if(!urltname){
            window.alert("请选择落地页");
        }else if(!showstarttime || !showendtime){
            window.alert("请选择在线时间");
        }else if(showstarttime>showendtime){
            window.alert("结束时间必须大于开始时间");
        }else if(!servicecity){
            window.alert("请选择显示城市");
        }else if(!frame){
            window.alert("请选择帧位");
        } else {
            $.post("{:U('updateBanner')}",{
                id:id,
                title:title,
                pic:pic,
                urltype:urltype,
                urltvalue:urltvalue,
                urltname:urltname,
                showstarttime:showstarttime,
                showendtime:showendtime,
                frame:frame,
                ishow:ishow,
                servicecity:servicecity,
                city_type: city_type
            },function (res) {
                if(res.state==1){
                    alert(res.msg);
                    window.location.href="{:U('index')}";
                }else {
                    alert(res.msg);
                }
            },'json')
        }
    })
</script>
</body>
</html>