<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑管家</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jedate.css">
    <script src="__PUBLIC__/Admin/js/jquery-2.1.0.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.jedate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">管家管理</a></li>
    <li class="active">编辑管家</li>
</ol>
<div class="container row" style="background-color:white;padding-top:50px" >
    <form action="#" method="post" class="form-horizontal">
        <div class="form-group col-sm-12" style="font-size:22px; font-weight: 600;">
            <label for="" class="col-sm-1 control-label" ></label>
            <div>*基础信息</div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*头图</label>
            <div class="col-sm-2" id="headpic">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*管家名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" value="{$res.guanjianame}" name="name" placeholder="请输入管家名称">
            </div>
            <label class="col-sm-1" style="line-height:35px;">*title</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title"  value="{$res.title}" name="title" placeholder="输入title名称">
            </div>
            <label class="col-sm-1" style="line-height:35px;color:#697a9c"></label>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label" >*联系方式</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="phone"  name="phone"  value="{$res.guanjiaphone}" placeholder="输入11位手机号">
            </div>
            <label class="col-sm-1" style="line-height:35px;">*负责BD</label>
            <div class="col-sm-4">
                <select  name="userid"  class="form-control" id="userid">
                    <option value="">选择二级分类</option>
                </select>
            </div>
            <label class="col-sm-1" style="line-height:35px;color:#697a9c"></label>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*管家简介</label>
            <div class="col-sm-4">
                <textarea type="textarea" class="form-control" id="info"  name="info" placeholder="40字以内" style="height:100px">{$res.info}</textarea>
            </div>
            <label class="col-sm-6" style="line-height:35px;color:#697a9c"></label>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*管家介绍</label>
            <div class="col-sm-10">
                <div class="col-sm-12 row" id="productinfoparent">
                    <script type="text/plain" id="productinfo" style="width:375px;min-height: 200px"></script>
                    </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label" >*管家更多信息</label>
                        <div class="col-sm-8">
                        <textarea type="textarea" class="form-control"  id="moreinfo"  name="moreinfo" placeholder="选拔自128家位同类型管家候选人" style="height:100px">{$res.moreinfo}</textarea>
                    </div>
                    </div>
                        <div class="form-group">
                        <label for="" class="col-sm-2 control-label" style="font-size:18px">备注信息:</label>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                        <textarea type="textarea" class="form-control" id="extra"  name="extra" placeholder="" style="height:100px">{$res.extra}</textarea>

                    </div>
                    <!-- <label class="col-sm-6" style="line-height:35px;color:#697a9c"></label>-->
                        </div>
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <!-- <button type="reset" class="btn btn-danger" style="width:80px;background:#1AB394;border:0">取消</button>-->
                        <button type="button" id="surebtn" class="btn btn-success" style="width:100px;background:#1AB394;border:0">保存</button>
                        </div>
                        </div>
                        </form>
                        </div>
                        <!-- 配置文件 -->
                        <!-- 配置文件 -->
                        <script type="text/javascript">
                        let cssPath = '__PUBLIC__/Admin/css';
                    </script>
                    <script type="text/javascript" src="__PUBLIC__/Admin/js/ueditorX.js"></script>
                    <script>


                        $(document).ready(()=>{
                            window.ueditorXsetContent({
                            productinfo: `{$res.guanjiadetails}`,
                        });
                        var uploadTicket = {policy:null,authorization:null,bucket:null};
                        $.post("{:U('AjaxApi/Upyun/getUpyunPolicyAndAuthorization')}",{},function (res) {
                            uploadTicket.policy = res.policy;
                            uploadTicket.authorization = res.authorization;
                            uploadTicket.bucket = res.bucket;
                            setUploadTicket(uploadTicket);
                            var uploadcontainer1 = 'headpic';
                            var initpic1 = '{$res.avatarurl}';
                            createUploadStr(uploadcontainer1,1,initpic1);
                            function strpic(url,oneimageclass) {
                                var str = '<div style="display:inline-block;height: 115px;width:110px;margin-right: 10px" data-path="'+url+'" class="'+oneimageclass+'"><img src="https://file.rose52.com'+url+'"  alt="" width="100" height="100" path="'+url+'" style="margin-top: 15px;margin-left: 10px;float: left;"><div  class="del" style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;width: 20px;height: 20px; cursor: pointer" path="'+url+'">x</div></div>';
                                return str;
                            }

                            // 删除
                            $(document).on('click','.del', function () {
                                var path = $(this).attr('path');
                                var uploadcontainer = $(this).parent().parent().attr('id');
                                var nowimgNum = $("."+uploadcontainer).length;
                                $(this).parent().remove();
                                var nowpath = uploadpathstr(uploadcontainer);
                                console.log(path);
                                var maxPicNum = parseInt($("#"+uploadcontainer).attr("maxpicnum"));
                                if (nowpath == ''&& !($("."+uploadcontainer+'Pupload').length)) {
                                    createUploadStr(uploadcontainer, maxPicNum, '');
                                } else if(maxPicNum == nowimgNum){
                                    createUploadStr(uploadcontainer, maxPicNum, '');
                                }

                            })

                            function createUploadStr(uploadcontainer,maxPicNum,initpic) {
                                var timestamp = Date.parse(new Date());
                                var uploadid = uploadcontainer+timestamp;
                                var imgstr = '<div class="'+uploadcontainer+'Pupload" style="display:inline-block;height: 115px;width:110px;margin-right: 10px" id="parent'+uploadid+'" ><img id="'+uploadid+'" src="__PUBLIC__/Admin/images/addpic.jpg"  alt="" width="100" height="100" style="margin-top: 15px;margin-left: 10px;float: left;"><div style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;">&nbsp;</div></div>'
                                $("#"+uploadcontainer).attr("maxpicnum",maxPicNum);
                                if (initpic != '' && initpic != undefined) {
                                    $("#"+uploadcontainer).attr('uploadpath',initpic);
                                    initpic = initpic.split(',');
                                    var tempstr = '';
                                    for (var i = 0; i < initpic.length; i++) {
                                        tempstr += strpic(initpic[i], uploadcontainer);
                                    }
                                    $("#"+uploadcontainer).append(tempstr);
                                    if (initpic.length < maxPicNum) {
                                        $("#"+uploadcontainer).append(imgstr);
                                        createPuoload(uploadcontainer,uploadid,maxPicNum);
                                    }
                                } else {
                                    $("#"+uploadcontainer).append(imgstr);
                                    createPuoload(uploadcontainer,uploadid,maxPicNum);
                                }

                            }
                            function uploadpathstr(uploadcontainer) {
                                var nowpath = '';
                                $("."+uploadcontainer).each(function () {
                                    var path = $(this).attr('data-path');
                                    nowpath +=path+",";
                                })
                                nowpath = nowpath.substr(0,nowpath.length-1);
                                $("#"+uploadcontainer).attr('uploadpath', nowpath);
                                return nowpath;
                            }

                            function createPuoload(uploadcontainer,uploadid,maxPicNum) {
                                var  uploader = new plupload.Uploader({
                                    browse_button : uploadid, //触发文件选择对话框的按钮，为那个元素id
                                    url : 'https://v0.api.upyun.com/' + uploadTicket.bucket, //服务器端的上传页面地址
                                    filters: {
                                        mime_types: [
                                            {title: 'Image files', extensions: 'jpg,gif,png,jpeg'}
                                        ],
                                        prevent_duplicates: true // 不允许选取重复文件
                                    },
                                    multipart: true,
                                    multipart_params: {
                                        'Filename': '${random}', // adding this to keep consistency across the runtimes
                                        'Content-Type': '',
                                        'policy': uploadTicket.policy,
                                        'authorization': uploadTicket.authorization
                                        /*'signature': '<?php echo $signature; ?>' */
                                    },
                                    flash_swf_url : 'js/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
                                    silverlight_xap_url : 'js/Moxie.xap' //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
                                });

                                //在实例对象上调用init()方法进行初始化
                                uploader.init();

                                //绑定各种事件，并在事件监听函数中做你想做的事
                                uploader.bind('FilesAdded',function(uploader,files){
                                    var nownum = $("."+uploadcontainer).length;
                                    if (nownum + uploader.files.length > maxPicNum) {
                                        for(var i in files){
                                            uploader.removeFile(files[i].id);
                                        }
                                        alert('最多上传'+maxPicNum+'张');
                                        return;
                                    }
                                    $("#parent"+uploadid).remove();
                                    uploader.start();
                                    //每个事件监听函数都会传入一些很有用的参数，
                                    //我们可以利用这些参数提供的信息来做比如更新UI，提示上传进度等操作
                                });

                                uploader.bind('FileUploaded',function (uploader,files,info) {
                                    var response = JSON.parse(info.response);
                                    var url = response.url;
                                    var str = strpic(url,uploadcontainer);
                                    uploader.removeFile(files.id);
                                    $("#"+uploadcontainer).append(str);
                                })

                                uploader.bind('UploadComplete', function (uploader, files) {
                                    var nownum = $("."+uploadcontainer).length;
                                    if (nownum <maxPicNum) {
                                        createUploadStr(uploadcontainer,maxPicNum);
                                    }
                                    uploadpathstr(uploadcontainer);
                                    uploader.destroy();
                                })
                            }
                        },'json');

                        });

                        //获取BD列表
                        var bdname = '{$res['name']}';
                        $.ajax({
                            url:"{:U('Operation/OperationGuanJia/getAllBD')}",
                            type:"post",
                            dataType:'json',
                            success:function (message) {
                                var str = '<option value="0">选择BD</option>';
                                for(var i=0;i<message['data'].length;i++){
                                    if (bdname == message['data'][i].name) {
                                        str+="<option value="+message['data'][i].id+" selected>"+message['data'][i].name+"</option>";
                                    } else {
                                        str+="<option value="+message['data'][i].id+">"+message['data'][i].name+"</option>";
                                    }

                                }
                                $("#userid").html(str);
                            }

                        })
                        //提交管家信息
                        $("#surebtn").click(function () {
                            var avatarurl = $("#headpic").attr('uploadpath');
                            var name = $("#name").val();
                            var title = $("#title").val();
                            var phone = $("#phone").val();
                            var userid = $("#userid").val();
                            var info = $("#info").val();
                            var getblen = function(info) {
                                if (info == null) return 0;
                                if (typeof info != "string"){
                                    info += "";
                                }
                                return info.replace(/[^\x00-\xff]/g,"01").length/2;
                            }
                            var guanjiadetails=productinfoEditor.getContent();
                            console.log(guanjiadetails);
                            var moreinfo = $("#moreinfo").val();
                            var extra = $("#extra").val();
                            var guanjiaid = "{$Think.get.id}";
                            var myreg = /^1\d{10}$/;
                            if(!avatarurl){
                                alert("请选择管家头图");
                            }else if(name==''){
                                alert("请输入管家名称");
                                return false;
                            }else if(!title){
                                alert("请输入管家title");
                                return false;
                            }else if(phone==''){
                                alert("请输入手机号");
                                return false;
                            }else if(!myreg.test(phone)){
                                alert('请输入有效的手机号码！');
                                return false;
                            }else if(!userid || userid==0){
                                alert('请选择BD');
                                return false;
                            }else if(info==''){
                                alert("请输入管家简介");
                                return false;
                            }else if(getblen(info)>40){
                                alert("简介40字以内");
                                return false;
                            }else if(guanjiadetails==''){
                                alert("请填写管家介绍");
                                return false;
                            }else if(guanjiadetails.length<100){
                                alert("管家介绍不小于100字");
                                return false;
                            }else if(moreinfo==''){
                                alert("请填写管家更多信息");
                                return false;
                            }else if(guanjiadetails==''){
                                alert("请填写管家介绍");
                                return false;
                            }else {
                                $.post(
                                    "{:U('OperationGuanJia/saveGuanjia')}",{
                                        avatarurl:avatarurl,
                                        guanjiaid:guanjiaid,
                                        title:title,
                                        name:name,
                                        phone:phone,
                                        userid:userid,
                                        info:info,
                                        guanjiadetails:guanjiadetails,
                                        moreinfo:moreinfo,
                                        extra:extra
                                    },function(data){
                                        if(data['state']==1){
                                            alert(data['msg']);
                                            //window.location.reload();
                                            window.location.href="{:U('OperationGuanJia/index')}";
                                        } else {
                                            alert(data['msg']);
                                        }
                                    },'json');
                            }

                        })


                    </script>
</body>
</html>