<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>管家信息</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>

</head>
<body style="background-color:#F6F7FA;">
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">供应商管理</a></li>
    <li class="active">供应商信息</li>
</ol>
<div class="container-fluid" style="background-color:white;padding-top:20px">
    <form class="form-inline" action="{:U('index')}" method="get">
        <div class="form-group">
            <div class="col-sm-2">
                <select  name="type"  class="form-control">
                    <option value="1" <if condition="$type eq 1">selected</if>>供应商名称</option>
                    <option value="2" <if condition="$type eq 2">selected</if>>供应商ID</option>
                    <option value="3" <if condition="$type eq 3">selected</if>>联系方式</option>
                    <option value="4" <if condition="$type eq 4">selected</if>>负责BD</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="margin-left: 20px;margin-right: 20px;">
            <label for="end_time"></label>
            <input type="datetime" class="form-control"  value="{$condition}" name="condition" id="" placeholder="请输入搜索条件">
        </div>
        <input type="hidden" name="p" value="1">
        <div class="form-group">
            <div class="col-sm-2">
                <select  name="issign"  class="form-control">
                    <option value="2">是否签署合同</option>
                    <option value="1" <if condition="$issign eq '1'">selected</if>>已签署</option>
                    <option value="0" <if condition="$issign eq '0'">selected</if>>未签署</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="background:#1AB394; border:0;opacity:1">
            <span class="glyphicon glyphicon-search">

            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <a href="{:U('addSupplier')}"><button type="button" class="btn btn-success" style="background:#1AB394; border:0;opacity:0.8;float: right">添加供应商</button></a>
    </form>

    <table class="table" style="margin-top:20px;text-align:center;">
        <thead style="height:20px;background:#1AB394; color:white">
        <tr>
            <th width="16%" align="center">ID</th>
            <th width="16%" align="center">供应商名称</th>
            <th width="16%" align="center">负责BD</th>
            <th width="16%" align="center">客户电话</th>
            <th width="16%" align="center">是否签署合同</th>
            <th width="10%" align="center">佣金比例</th>
          
            <th width="10%" align="center">操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="result" id="vo">
            <tr>
                <td>{$vo.supplierid}</td>
                <td>{$vo.supplier}</td>
                <td>{$vo.name}</td>
                <td>{$vo.contactphone}</td>
                <td>
                    <if condition="$vo.issign eq 0">未签署
                      <else />已签署
                    </if>
                </td>
                <td>{$vo.commissionrate}</td>
                <td align='center'>
                    <div class="clearfix">
                        <a href="{:U('supplieredit')}?id={$vo.supplierid}">
                            <button type="button" class="bfL btn btn-success" style="background:#1AB394;border:0;opacity:0.8;width:70px;">编辑</button>
                        </a>
                    </div>
                </td>
            </tr>
        </volist>
        </tbody>
        <tr style="padding-top:30px">
            <td colspan='17' width="200" align="center" height='30px' style="color:#C3C9DA;font-family:'微软雅黑';">
                <span style="display: inline-block;float:left;margin-left: 50px">第{$all}条,共{$count}条</span>
                <span style="display:inline-block">{$page}</span>
                <span style="display:inline-block;float:right">当前第{$nowPage}页,共{$totalPages}页</span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>