<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>商品信息</title>
    <!-- <link rel="stylesheet" href="/myWeb/Public/Admin/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>

</head>
<body style="background-color:#F6F7FA;">
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">用户管理</a></li>
    <li class="active">商品信息</li>
</ol>
<div class="container-fluid" style="background-color:white;padding-top:20px">
    <form class="form-inline" action="" method="post">
        <div class="form-group" style="margin-left: 20px;margin-right: 20px;">
            <label for="end_time"></label>
            <input type="datetime" class="form-control" name="phone" id="end_time" placeholder="请输入手机号">
        </div>
        <button type="submit" class="btn btn-success" style="background:#1AB394; border:0;opacity:1">
            <span class="glyphicon glyphicon-search">
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <a href="{:U('OperationAuctionGoods/addAuctionGoods')}">
        <button type="button" class="btn btn-success" style="background:#1AB394; border:0;opacity:0.8;float: right"><span class="glyphicon glyphicon-open-file"></span>添加商品</button>
        </a>
    </form>

    <table class="table" style="margin-top:20px;text-align:center;">
        <thead style="height:20px;background:#1AB394; color:white">
        <tr>
            <th>商品名称</th>
            <th>商品图片</th>
            <th>商品价格</th>
            <th>商品成交价</th>
            <th>拍卖时间</th>

        </tr>
        </thead>
        <tbody>
        <volist name="result" id="vo">
            <tr>
                <td>{$vo.goodname}</td>
                <td>{$vo.goodpic}</td>
                <td>{$vo.price}</td>
                <td>{$vo.finalprice}</td>
                <td>{$vo.endtime}</td>
            </tr>
        </volist>
        </tbody>
        <tr style="margin-top:10px">
            <td colspan='17' width="80" align="center" height='30px' style="color:#C3C9DA;font-family:'微软雅黑';">
                <span style="display:inline-block">{$page}</span>
                <span style="display:inline-block;float:right">当前第{$nowPage}页,共{$totalPages}页</span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>