<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>京东金融稳赢一生年金保险--理财师端</title>
</head>
<body>
    <span id="current-jdpin">{$current_jdpin}</span>
    <div id="app"></div>
</body>
<script src="__PUBLIC__/BaoXian/shrenshou_licaishi_dist/js/client-vendor-bundle.js?ver=0828"></script>
<script src="__PUBLIC__/BaoXian/shrenshou_licaishi_dist/js/client-bundle.js?ver=0828"></script>
<link rel="stylesheet" href="__PUBLIC__/BaoXian/shrenshou_licaishi_dist/js/styles.css?ver=0828">
</html>
