<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管家优选</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jedate.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.jedate.js"></script>
    <link href="__PUBLIC__/Admin/css/select2.min.css" rel="stylesheet" />
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">运营位管理</a></li>
    <li class="active">管家优选</li>
</ol>
<div class="container row" style="background-color:white;padding-top:50px">
    <form action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*选择管家</label>
            <div class="col-sm-4">
                <select name="" id="guanjiaselect" class="form-control" style="height:34px" placeholder="请输入管家ID或名称"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*推荐产品</label>
            <div class="col-sm-4">
                <select name="" id="productselect" class="form-control" style="height:34px" placeholder="请输入产品ID或名称"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*推荐理由</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"  value="{$res.title}" name="name" id="title" placeholder="输入推荐理由" id="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*图片</label>
            <div class="col-sm-1" id="pic">
            </div>
            <div class="col-sm-1" style="margin-top:48px;margin-left: 20px">
                <p style="width:80px;text-align:center;color:red" >*限500*270</p>
            </div>
            <label class="col-sm-2" style="line-height:35px;color:#697a9c"></label>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*显示城市</label>
            <div class="col-sm-1" style="margin-top:5px">
                <input type="radio" name="status" class="status" checked value="1" <if condition="$res.city_type eq 1">checked</if> id="">白名单
            </div>
            <div class="col-sm-1" style="margin-top:5px">
                <input type="radio" name="status" class="status" value="2" <if condition="$res.city_type eq 2">checked</if> id="">黑名单
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" ></label>
            <div class="col-sm-2" id="wenan">
                <!--<if condition="$res.city_type eq 1">-->
                    <!--<span style="color:#d4d4d4">*只在以下城市显示</span>-->
                    <!--<else />-->
                    <!--<span style="color:#d4d4d4">*不在以下城市显示</span>-->
                <!--</if>-->
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" ></label>
            <div class="col-sm-4">
                <select class="js-example-basic-multiple col-sm-12" name="states[]" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*在线时间</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="showstarttime" value="{$res.show_start}" name="goodname" placeholder="选择开始时间">
            </div>
            <div class="col-sm-1 control-label" style="text-align: center;margin-left: -47px;margin-right: -47px;">
                一
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="showendtime"  value="{$res.show_end}" name="goodname" placeholder="选择结束时间">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*帧数</label>
            <div class="col-sm-4">
                <select  name=""  class="form-control" id="frame">
                    <option value="1" <if condition="$res.frame eq 1">selected</if>>1</option>
                    <option value="2" <if condition="$res.frame eq 2">selected</if>>2</option>
                    <option value="3" <if condition="$res.frame eq 3">selected</if>>3</option>
                    <option value="4" <if condition="$res.frame eq 4">selected</if>>4</option>
                    <option value="5" <if condition="$res.frame eq 5">selected</if>>5</option>
                    <option value="6" <if condition="$res.frame eq 6">selected</if>>6</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label" >*状态</label>
            <div class="col-sm-4">
                <select  name=""  class="form-control" id="ishow">
                    <option value="1" <if condition="$res.ishow eq 1">selected</if>>在线</option>
                    <option value="2" <if condition="$res.ishow eq 2">selected</if>>下线</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" name="" id="surebtn" class="btn btn-primary" style="width:140px;background:#1AB394;border:0">保存</button>
            </div>
        </div>
    </form>
    <script>

        //黑白名单文案显示操作
        var status = $('.status:checked').val();
        if(status==2){
            var instr='<span style="color:#d4d4d4">*不在以下城市显示</span>';
            $("#wenan").html(instr);
        }else{
            var instr='<span style="color:#d4d4d4">*只在以下城市显示</span>';
            $("#wenan").html(instr);
        }
        $('.status').click(function(){
            var status = $('.status:checked').val();
            console.log(status);
            if(status==2){
                var instr='<span style="color:#d4d4d4">*不在以下城市显示</span>';
                $("#wenan").html(instr);
            }else{
                var instr='<span style="color:#d4d4d4">*只在以下城市显示</span>';
                $("#wenan").html(instr);
            }
        })

        var id = '{$Think.get.id}';
        //初始化搜素管家信息
        if (id) {
            $(function () {
                var select2id = '{$res.join_id}';
                var select2name = '{$res.join_name}';
                var ids = [];
                var data = [];
                var type = 3;
                if (type == 3) {
                    var select2ids = select2id + ',' + select2name + ',' + type;
                    data.push({id: select2ids, text: select2name});
                    ids.push(select2ids);
                    $('#guanjiaselect').select2({
                        placeholder: '请输入产品ID或名称',
                        data: data,
                        ajax: {
                            url: "{:U('CouponApi/Coupon/serachValeByType')}",
                            dataType: 'json',
                            delay: 250,
                            data: function (params) {
                                return {
                                    value: params.term,
                                    type: 4
                                };
                            },
                            processResults: function (data) {
                                console.log(888);
                                console.log(data);
                                return {
                                    results: data
                                };
                            },
                            cache: true
                        },
                        escapeMarkup: function (markup) {
                            return markup;
                        },
                        minimumInputLength: 1
                    }).val(ids).trigger("change");
                }

            })
            //初始化搜素产品信息
            $(function () {
                var select2id = '{$res.a_id}';
                var select2name = '{$res.a_txt}';
                var ids = [];
                var data = [];
                var type = 4;
                if (type == 4) {

                    var select2ids = select2id + ',' + select2name + ',' + type;
                    data.push({id: select2ids, text: select2name});
                    ids.push(select2ids);
                    $('#productselect').select2({
                        placeholder: '请输入产品ID或名称',
                        data: data,
                        ajax: {
                            url: "{:U('CouponApi/Coupon/serachValeByType')}",
                            dataType: 'json',
                            delay: 250,
                            data: function (params) {
                                return {
                                    value: params.term,
                                    isyouxuan: 1,
                                    type: 4
                                };
                            },
                            processResults: function (data) {
                                console.log(888);
                                console.log(data);
                                return {
                                    results: data
                                };
                            },
                            cache: true
                        },
                        escapeMarkup: function (markup) {
                            return markup;
                        },
                        minimumInputLength: 1
                    }).val(ids).trigger("change");
                    $('#productselect').on("select2:select", function (data) {
                        console.log(data)
                        var initpic1 = data.params.data.facepic;
                        $('#pic').html('');
                        var str = strpic(initpic1, 'pic');
                        $("#pic").append(str);
                        $("#pic").attr('uploadpath', initpic1)
                    })
                }

            })
        } else {
            //搜索管家
            $(function () {
                $('#guanjiaselect').select2({
                    placeholder: '输入管家ID或名称',
                    ajax: {
                        url: "{:U('CouponApi/Coupon/serachValeByType')}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                value: params.term,
                                type: 3
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    minimumInputLength: 1
                });
            })

            //推荐产品
            $(function () {
                $('#productselect').select2({
                    placeholder: '输入产品ID或名称',
                    ajax: {
                        url: "{:U('CouponApi/Coupon/serachValeByType')}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                value: params.term,
                                isyouxuan: 1,
                                type: 4
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    minimumInputLength: 1
                });
                $('#productselect').on("select2:select", function (data) {
                    var initpic1 = data.params.data.facepic;
                    $('#pic').html('');
                    var str = strpic(initpic1, 'pic');
                    $("#pic").append(str);
                    $("#pic").attr('uploadpath', initpic1)
                })
            })
        }
        //获取当前日期时间
        var newDate = new Date();
        Date.prototype.format = function(format) {
            var date = {
                "M+": this.getMonth() + 1,
                "d+": this.getDate(),
                "h+": this.getHours(),
                "m+": this.getMinutes(),
                "s+": this.getSeconds(),
                "q+": Math.floor((this.getMonth() + 3) / 3),
                "S+": this.getMilliseconds()
            };
            if (/(y+)/i.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            for (var k in date) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1
                        ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
                }
            }
            return format;
        }

        var nowdate = newDate.format('yyyy-MM-dd');
        nowdate+=' 00:00:00';
        //日期插件
        $("#showstarttime").jeDate({
            format: "YYYY-MM-DD hh:mm:ss",
            minDate:nowdate
        })
        $("#showendtime").jeDate({
            format: "YYYY-MM-DD hh:mm:ss",
            minDate:nowdate
        })

        function strpic(url,oneimageclass) {
            var str = '<div style="display:inline-block;height: 100px;width:100px;margin-right: 10px" data-path="'+url+'" class="'+oneimageclass+'"><img src="https://file.rose52.com'+url+'"  alt="" width="100" height="100" path="'+url+'" style="margin-top: 15px;margin-left: 10px;float: left;"><div  class="del" style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;width: 20px;height: 20px; cursor: pointer" path="'+url+'">x</div></div>';
            return str;
        }
        var uploadTicket = {policy:null,authorization:null,bucket:null};
        $.post("{:U('AjaxApi/Upyun/getUpyunPolicyAndAuthorization')}",{},function (res) {
            uploadTicket.policy = res.policy;
            uploadTicket.authorization = res.authorization;
            uploadTicket.bucket = res.bucket;
            var uploadcontainer1 = 'pic';
            var initpic1 = '{$res.a_img}';
            createUploadStr(uploadcontainer1,1,initpic1);

        },'json');
        // 删除
        $(document).on('click','.del', function () {
            var path = $(this).attr('path');
            var uploadcontainer = $(this).parent().parent().attr('id');
            var nowimgNum = $("."+uploadcontainer).length;
            $(this).parent().remove();
            var nowpath = uploadpathstr(uploadcontainer);
            console.log(path);
            var maxPicNum = parseInt($("#"+uploadcontainer).attr("maxpicnum"));
            if (nowpath == ''&& !($("."+uploadcontainer+'Pupload').length)) {
                createUploadStr(uploadcontainer, maxPicNum, '');
            } else if(maxPicNum == nowimgNum){
                createUploadStr(uploadcontainer, maxPicNum, '');
            }

        })
        function uploadpathstr(uploadcontainer) {
            var nowpath = '';
            $("."+uploadcontainer).each(function () {
                var path = $(this).attr('data-path');
                nowpath +=path+",";
            })
            nowpath = nowpath.substr(0,nowpath.length-1);
            $("#"+uploadcontainer).attr('uploadpath', nowpath);
            return nowpath;
        }
        function createUploadStr(uploadcontainer,maxPicNum,initpic) {
            var timestamp = Date.parse(new Date());
            var uploadid = uploadcontainer+timestamp;
            var imgstr = '<div class="'+uploadcontainer+'Pupload" style="display:inline-block;height: 115px;width:110px;margin-right: 10px" id="parent'+uploadid+'" ><img id="'+uploadid+'" src="__PUBLIC__/Admin/images/addpic.jpg"  alt="" width="100" height="100" style="margin-top: 15px;margin-left: 10px;float: left;"><div style="fload:right;margin-top:0px;margin-left:110px;color:red;font-size: 18px;font-weight: bold;">&nbsp;</div></div>'
            $("#"+uploadcontainer).attr("maxpicnum",maxPicNum);
            if (initpic != '' && initpic != undefined) {
                $("#"+uploadcontainer).attr('uploadpath',initpic);
                initpic = initpic.split(',');
                var tempstr = '';
                for (var i = 0; i < initpic.length; i++) {
                    tempstr += strpic(initpic[i], uploadcontainer);
                }
                $("#"+uploadcontainer).append(tempstr);
                if (initpic.length < maxPicNum) {
                    $("#"+uploadcontainer).append(imgstr);
                    createPuoload(uploadcontainer,uploadid,maxPicNum);
                }
            } else {
                $("#"+uploadcontainer).append(imgstr);
                createPuoload(uploadcontainer,uploadid,maxPicNum);
            }

        }

        function createPuoload(uploadcontainer,uploadid,maxPicNum) {
            var  uploader = new plupload.Uploader({
                browse_button : uploadid, //触发文件选择对话框的按钮，为那个元素id
                url : 'https://v0.api.upyun.com/' + uploadTicket.bucket, //服务器端的上传页面地址
                filters: {
                    mime_types: [
                        {title: 'Image files', extensions: 'jpg,gif,png,jpeg'}
                    ],
                    prevent_duplicates: true // 不允许选取重复文件
                },
                multipart: true,
                multipart_params: {
                    'Filename': '${random}', // adding this to keep consistency across the runtimes
                    'Content-Type': '',
                    'policy': uploadTicket.policy,
                    'authorization': uploadTicket.authorization
                    /*'signature': '<?php echo $signature; ?>' */
                },
                flash_swf_url : 'js/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
                silverlight_xap_url : 'js/Moxie.xap' //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
            });

            //在实例对象上调用init()方法进行初始化
            uploader.init();

            //绑定各种事件，并在事件监听函数中做你想做的事
            uploader.bind('FilesAdded',function(uploader,files){
                var nownum = $("."+uploadcontainer).length;
                var reader = new FileReader();
                reader.readAsDataURL(files[0].getNative());
                reader.onload = (function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        if (this.width == 500 && this.height == 270) {
                            if (nownum + uploader.files.length > maxPicNum) {
                                for(var i in files){
                                    uploader.removeFile(files[i].id);
                                }
                                alert('多做上传'+maxPicNum+'张');
                                return;
                            }
                            $("#parent"+uploadid).remove();
                            uploader.start();
                        } else {
                            for(var i in files){
                                uploader.removeFile(files[i].id);
                            }
                            alert('请上传500*270图片');
                        }

                    };
                });

                //每个事件监听函数都会传入一些很有用的参数，
                //我们可以利用这些参数提供的信息来做比如更新UI，提示上传进度等操作
            });

            uploader.bind('FileUploaded',function (uploader,files,info) {
                var response = JSON.parse(info.response);
                var url = response.url;
                var str = strpic(url,uploadcontainer);
                uploader.removeFile(files.id);
                $("#"+uploadcontainer).append(str);
            })

            uploader.bind('UploadComplete', function (uploader, files) {
                var nownum = $("."+uploadcontainer).length;
                if (nownum <maxPicNum) {
                    createUploadStr(uploadcontainer,maxPicNum);
                }
                uploadpathstr(uploadcontainer);
                uploader.destroy();
            })
        }

        //搜索城市操作

        var getId="{$Think.get.id}";
        if(!getId){
            $('.js-example-basic-multiple').select2({
                placeholder:'请选择输入服务城市',
                data:data,
                ajax: {
                    url: "{:U('Operation/OperationGuanJia/getAllCity')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            param: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            })
        }else{
            var citys = '{$res.city_rang}';
            var citys = citys.split('|');
            var data = [];
            var ids = [];
            console.log(citys);
            for (var i = 0;i<citys.length;i++){
                var temp = citys[i].split(',');
                data.push({id:temp[0],text:temp[1]});
                ids.push(temp[0]);
            }
            $('.js-example-basic-multiple').select2({
                placeholder:'请选择输入服务城市',
                data:data,
                ajax: {
                    url: "{:U('Operation/OperationGuanJia/getAllCity')}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            param: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1
            }).val(ids).trigger("change");
        }


        //提交管家优选信息
        $('#surebtn').click(function () {
            var guanjia=$('#guanjiaselect').select2('data')[0];
            var product=$('#productselect').select2('data')[0];
            var savetype='ganjia';
            var join_id='';
            var join_name='';
            var a_id='';
            var a_txt='';
            if(guanjia){
                console.log(guanjia);
                var u = guanjia.id ;
                console.log(u);
                join_id = u.substring(0, u.indexOf(",")) ;
                join_name=guanjia.text;
            }
            if(product){
                console.log(product);
                var u = product.id ;
                console.log(u);
                a_id = u.substring(0, u.indexOf(",")) ;
                a_txt=product.text;
            }
            var title = $("#title").val();
            var a_img =$("#pic").attr('uploadpath');
            var city_type=$('.status:checked').val();
            var city_rangdata=$('.js-example-basic-multiple').select2('data');
            var city_rang='';
            if (city_rangdata.length > 0) {
                for (var i=0; i<city_rangdata.length;i++) {
                    var text = city_rangdata[i].text;
                    var id = city_rangdata[i].id;
                    city_rang+=id+','+text+'|';
                }
                city_rang = city_rang.substr(0,city_rang.length-1);
            }  else {
                city_rang = '0,全国';
            }

            var show_start = $("#showstarttime").val();
            var show_end = $("#showendtime").val();
            var frame = $("#frame").val();
            var ishow = $("#ishow").val();

            if(!join_name){
                window.alert('请选择管家');
            }else if(!a_txt){
                window.alert('请选择产品');
            }else if(!title){
                window.alert('请输入推荐理由');
            }else if(!a_img){
                window.alert('请上传图片');
            }else if(!city_type){
                window.alert('请选择显示类型');
            }else if(!city_rang){
                window.alert("请选择城市");
            }else if(!show_start || !show_end){
                window.alert("请选择在线时间");
            }else if(show_start>show_end){
                window.alert("结束时间必须大于开始时间");
            }else if(!frame){
                window.alert("请选择帧位");
            } else {
                $.post("{:U('save_submit')}",{
                    id:"{$Think.get.id}",
                    savetype:savetype,
                    join_id:join_id,
                    join_name:join_name,
                    a_id:a_id,
                    a_txt:a_txt,
                    title:title,
                    a_img:a_img,
                    city_type:city_type,
                    city_rang:city_rang,
                    show_start:show_start,
                    show_end:show_end,
                    frame:frame,
                    is_show:ishow
                },function (res) {
                    if(res.state==1){
                        alert(res.msg);
                        window.location.href="{:U('ganjia')}";
                    }else {
                        alert(res.msg);
                    }
                },'json')
            }
        })




    </script>

</div>
</body>
</html>