<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页Banner</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/jedate.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.jedate.js"></script>
</head>

<body>
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">运营位管理</a></li>
    <li class="active">顶部icon</li>
</ol>
<div class="container-fluid" style="background-color:white;padding-top:20px">
    <form class="form-inline" method="get">
        <div class="form-group">
            <div class="col-sm-4" style="margin-right:5px">
                <select  name="findtype"  class="form-control">
                    <option value="1" <if condition="$findtype eq 1">selected</if> >运营位名称</option>
                    <option value="2" <if condition="$findtype eq 2">selected</if> >运营位ID</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="keyw" id="keyw" placeholder="" value="{$keyw}">
            </div>
        </div>

        <div class="form-group">
            <label for="">状态</label>
            <select  name="is_show"  class="form-control">
                <option value="0" <if condition="$is_show eq 0">selected</if> >全部</option>
                <option value="1" <if condition="$is_show eq 1">selected</if> >上线</option>
                <option value="2" <if condition="$is_show eq 2">selected</if> >下线</option>
            </select>
        </div>

        <div class="form-group" style="margin-left: 20px;">
            <label for="">在线时间</label>
            <input type="text" class="form-control" name="time_s" id="time_s" placeholder="选择时间" value="{$time_s}">
        </div>


        <button type="submit" class="btn btn-success" name="findbut" style="background:#1AB394; border:0;opacity:1">&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <a href="{:U('OperationHomePage/addTopBanner')}">
            <button type="button"  class="btn btn-success" style="background:#1AB394; border:0;">新建运营位</button>
        </a>
    </form>
    <table class="table" style="margin-top: 20px;text-align:center;">
        <thead style="height: 20px;background:#1AB394;color: white ">
        <tr>
            <td width="10%" align="center">ID</td>
            <td width="10%" align="center">名称</td>
            <td width="10%" align="center">icon</td>
            <td width="20%" align="center">落地页</td>
            <td width="20%" align="center">城市</td>
            <td width="20%" align="center">在线时间</td>
            <td width="10%" align="center">帧数</td>
            <td width="10%" align="center">状态</td>
            <td width="10%" align="center">操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="result" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td><img src="https://file.rose52.com/{$vo.a_img}" style="width: 60px;"  ></td>
                <td style="text-align: left;">

                    <if condition="$vo.a_type eq 1"  >链接：
                        <elseif condition="$vo.a_type eq 2" />二级分类：
                        <elseif condition="$vo.a_type eq 3" />管家：
                        <elseif condition="$vo.a_type eq 4"/>产品：
                        <else />分类页面
                    </if>


                    {$vo.a_txt}


                    <if condition="$vo.a_id gt 0">({$vo.a_id})</if></td>


                <td style="text-align: left;"> <if condition="$vo.city_type eq 1">白名单：<else />黑名单：</if>{$vo.city_rang}</td>
                <td>{$vo.show_start}</br>至</br>{$vo.show_end}</td>
                <td>{$vo.frame}</td>
                <td><if condition="$vo.is_show eq 1">在线<else />下线</if></td>
                <td>
                    <a href="{:U('addTopBanner')}?id={$vo.id}">
                        <button type="button" class="bfL btn btn-success" style="background:#1AB394;border:0;opacity:0.8;width:70px;">编辑</button>
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
        <tr style="padding-top:30px">
            <td colspan='17' width="200" align="center" height='30px' style="color:#C3C9DA;font-family:'微软雅黑';">
                <span style="display: inline-block;float:left;margin-left: 50px">第{$all}条,共{$count}条</span>
                <span style="display:inline-block">{$page}</span>
                <span style="display:inline-block;float:right">当前第{$nowPage}页,共{$totalPages}页</span>
            </td>
        </tr>
    </table>

</div>
</body>

<script>

    //选择时间
    $('#time_s').jeDate({
        // isinitVal:true,
        // initDate:[{hh:00,mm:00,ss:00},false],
        showhis:['00','00','00'],
        format:"YYYY-MM-DD hh:mm:ss",

    })

</script>

</html>