<p style="margin-left:29px"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 16px"><span
  style="font-family:宋体">合同解除</span></span></strong></p>
<p><span style="font-family: &#39;Times New Roman&#39;;font-weight: bold;font-size: 14px">1.1&nbsp;</span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">您解除合同的手续及风险</span></span></strong>
</p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">您于犹豫期后，可以向我们书面申请解除本合同，并向我们提供下列证明和资料：</span></span>
</p>
<p style="margin-top:10px;margin-bottom:10px;margin-left:5px"><span
  style="font-family:&#39;Times New Roman&#39;;font-size:14px">1.&nbsp;</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">保险合同；</span></span></p>
<p style="margin-top:10px;margin-bottom:10px;margin-left:5px"><span
  style="font-family:&#39;Times New Roman&#39;;font-size:14px">2.&nbsp;</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">解除合同申请书；</span></span></p>
<p style="margin-top:10px;margin-bottom:10px;margin-left:5px"><span
  style="font-family:&#39;Times New Roman&#39;;font-size:14px">3.&nbsp;</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">您的有效身份证件。</span></span></p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">自我们收到您的解除合同申请书时起，本合同效力终止。我们自收到您的解除合同申请书之日起三十日内，向您退还本合同解除时的现金价值。若有借款，则先扣除未偿还的借款及借款利息。</span></span>
</p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">您在犹豫期后解除本合同会遭受一定损失。</span></span></strong>
</p>