<p style="margin-left:5px"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">轻症疾病分组</span></span></strong></p>
<table style="width: 100%">
  <tbody>
  <tr style="height:16px" class="firstRow">
    <td width="181" valign="center" style="padding: 0px 7px; border-width: 1px; border-color: windowtext;"><p
      style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">A<span
      style="font-family:宋体">组（</span></span></strong><strong><span
      style="font-family: 宋体;font-size: 13px">19</span></strong><strong><span
      style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
    <td width="208" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">B<span
        style="font-family:宋体">组（</span></span></strong><strong><span style="font-family: 宋体;font-size: 13px">13</span></strong><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
    <td width="189" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">C<span
        style="font-family:宋体">组（</span></span></strong><strong><span style="font-family: 宋体;font-size: 13px">18</span></strong><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
  </tr>
  <tr style="height:16px">
    <td width="181" valign="center"
        style="padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">极早期恶性肿瘤或恶性病变</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">特定面积<span
        style="font-family:Times New Roman">Ⅲ</span><span style="font-family:宋体">度烧伤</span></span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">慢性肾功能障碍</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">单侧肺脏切除</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">可逆性再生障碍性贫血</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肝脏手术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肾上腺切除术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">双侧卵巢或睾丸切除术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">糖尿病导致单足截除</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">中度慢性呼吸功能衰竭</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">早期肝硬化</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">慢性肝功能衰竭</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">轻度面部烧伤</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">14.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">单侧肾脏切除</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">15.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">中度严重克罗恩病</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">16.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">中度溃疡性结肠炎</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">17.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">严重阻塞型睡眠呼吸暂停综合征</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">18.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">面部重建手术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">19.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">早期象皮病</span></strong></p></td>
    <td width="208" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">不典型的急性心肌梗塞</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">轻微脑中风</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">冠状动脉介入手术（非开胸手术）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">心脏瓣膜介入手术（非开胸手术）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">主动脉内手术（非开胸手术）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">继发性肺动脉高压</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">微创冠状动脉搭桥手术（或称微创冠状动脉旁路移植术）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">特定周围动脉疾病的血管介入治疗</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">Ⅲ<span style="font-family:宋体">度房室传导阻滞</span><span
        style="font-family:Times New Roman">-</span><span style="font-family:宋体">已放置心脏起搏器</span></span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">早期原发性心肌病</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">腔静脉过滤器植入术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">颈动脉血管成形术或内膜切除术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">心包膜切除术</span></strong></p></td>
    <td width="189" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">视力严重受损</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">脑垂体瘤、脑囊肿，脑动脉瘤及脑血管瘤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">重度头部外伤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">人工耳蜗植入术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">角膜移植</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">单眼失明</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">中度瘫痪</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">中度阿尔兹海默病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">一肢缺失</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">早期运动神经元疾病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">中度帕金森氏症</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">中度重症肌无力</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">深度昏迷<span style="font-family:Times New Roman">72</span><span
        style="font-family:宋体">小时</span></span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">14.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">轻度颅脑手术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">15.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">植入大脑内分流器</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">16.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">中度脊髓灰质炎</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">17.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">中度进行性核上神经麻痹症</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">18.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">硬脑膜下血肿手术</span></strong></p></td>
  </tr>
  </tbody>
</table>
<p><br/></p>