<p style="margin-left:5px"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">重大疾病分组</span></span></strong></p>
<table style="width: 100%;">
  <tbody>
  <tr style="height:26px" class="firstRow">
    <td width="152" valign="center" style="padding: 0px 7px; border-width: 1px; border-color: windowtext;"><p
      style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">A<span
      style="font-family:宋体">组（</span></span></strong><strong><span
      style="font-family: 宋体;font-size: 13px">30</span></strong><strong><span
      style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
    <td width="142" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">B<span
        style="font-family:宋体">组（</span></span></strong><strong><span style="font-family: 宋体;font-size: 13px">30</span></strong><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
    <td width="151" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">C<span
        style="font-family:宋体">组（</span><span style="font-family:Times New Roman">1</span></span></strong><strong><span
        style="font-family: 宋体;font-size: 13px">8</span></strong><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
    <td width="151" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style=";text-align:center"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 13px">D<span
        style="font-family:宋体">组（</span></span></strong><strong><span style="font-family: 宋体;font-size: 13px">22</span></strong><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">种）</span></strong></p></td>
  </tr>
  <tr style="height:26px">
    <td width="152" valign="center" style="padding: 0px 7px; border-width: 1px; border-color: windowtext;"><p
      style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
      style="font-family: &#39;Times New Roman&#39;;font-size: 13px">恶性肿瘤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">重大器官移植术或造血干细胞移植术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">终末期肾病（或称慢性肾功能衰竭尿毒症期）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">急性或亚急性重症肝炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">慢性肝功能衰竭失代偿期</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">重型再生障碍性贫血</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">系统性红斑狼疮合并狼疮性肾炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肾髓质囊性病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">终末期肺病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">侵蚀性葡萄胎（或称恶性葡萄胎）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">系统性硬化症（硬皮病）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">原发性硬化性胆管炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重溃疡性结肠炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">14.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">原发性慢性肾上腺皮质功能减退</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:&#39;Times New Roman&#39;;font-weight:bold">15.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;">经输血导致的人类免疫缺陷病毒</span></strong><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">（<span
        style="font-family:Times New Roman">HIV</span><span style="font-family:宋体">）感染</span></span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">16.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">终末期疾病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">17.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重的胰岛素依赖型糖尿病（<span
        style="font-family:Times New Roman">I</span><span style="font-family:宋体">型糖尿病）</span></span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">18.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">原发性骨髓纤维化</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">19.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重骨髓增生异常综合征</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">20.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">因职业关系导致的人类免疫缺陷病毒（<span
        style="font-family:Times New Roman">HIV</span><span style="font-family:宋体">）感染</span></span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">21.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重哮喘</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">22.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重自身免疫性肝炎</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">23.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">范可尼综合征</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">24.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">溶血性尿毒综合征</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">25.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">肺孢子菌肺炎</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">26.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">自体造血干细胞移植术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">27.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">因器官移植导致的人类免疫缺陷病毒（<span
        style="font-family:Times New Roman">HIV</span><span style="font-family:宋体">）感染</span></span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">28.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">弥漫性血管内凝血</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">29.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">小肠移植手术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">30.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">严重甲型及乙型血友病</span></strong></p></td>
    <td width="142" valign="center"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">脑中风后遗症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">多个肢体缺失</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">良性脑肿瘤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">脑炎后遗症或脑膜炎后遗症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">深度昏迷</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">瘫痪</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重阿尔茨海默病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重脑损伤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重帕金森病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重运动神经元病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">语言能力丧失</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">多发性硬化症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">脊髓灰质炎后遗症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">14.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">植物人状态</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">15.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">重症肌无力</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">16.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">非阿尔茨海默病所致严重痴呆</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">17.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重癫痫</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">18.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重细菌性脑脊髓膜炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">19.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">疯牛病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">20.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">骨生长不全症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">21.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重肌营养不良症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">22.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">进行性核上性麻痹</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">23.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重瑞氏综合征</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">24.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">肾上腺脑白质营养不良</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">25.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">破裂脑动脉瘤夹闭手术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">26.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">严重的结核性脊髓炎</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">27.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">原发性脊柱侧弯的矫正手术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">28.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">严重的脊髓小脑变性症</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">29.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">进行性多灶性白质脑病</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">30.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">亚急性硬化性全脑炎</span></strong></p></td>
    <td width="151" valign="top"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">急性心肌梗塞</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">冠状动脉搭桥术（或称冠状动脉旁路移植术）</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">心脏瓣膜手术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重原发性肺动脉高压</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">主动脉手术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">原发性心肌病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重类风湿性关节炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">冠状动脉粥样斑块切除术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肺源性心脏病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">主动脉夹层瘤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">幼年型类风湿性关节炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重川崎病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重心肌炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">14.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">斯蒂尔病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">15.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重传染性心内膜炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">16.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">完全性房室传导阻滞</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">17.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">风湿热导致的心脏瓣膜疾病</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">18.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">艾森门格综合征</span></strong></p></td>
    <td width="151" valign="top"
        style="padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">1.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">双耳失聪</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">2.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">双目失明</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">3.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重<span
        style="font-family:Times New Roman">Ⅲ</span><span style="font-family:宋体">度烧伤</span></span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">4.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">象皮病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">5.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">慢性复发性胰腺炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">6.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">坏死性筋膜炎</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">7.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重克隆病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">8.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">急性坏死性胰腺炎开腹手术</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">9.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">胰腺移植</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">10.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肺淋巴管肌瘤病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">11.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肺泡蛋白质沉积症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">12.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">严重肠道疾病并发症</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">13.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">埃博拉病毒感染</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">14.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">重症手足口病</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">15.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">溶血性链球菌引起的坏疽</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">16.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">嗜铬细胞瘤</span></strong></p>
      <p style="margin-left:1px"><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:13px">17.&nbsp;</span><strong><span
        style="font-family: &#39;Times New Roman&#39;;font-size: 13px">肝豆状核变性</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">18.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">出血性登革热</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">19.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">大面积植皮手术</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">20.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">严重Ⅲ度冻伤导致截肢</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">21.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">多处臂丛神经根性撕脱</span></strong></p>
      <p style="margin-left:1px"><span
        style="font-family:宋体;font-weight:bold;font-size:13px">22.&nbsp;</span><strong><span
        style="font-family: 宋体;font-size: 13px">严重面部烧伤</span></strong></p></td>
  </tr>
  </tbody>
</table>