<style id="table">.selectTdClass {
  background-color: #edf5fa !important
}

table.noBorderTable td, table.noBorderTable th, table.noBorderTable caption {
  border: 1px dashed #ddd !important
}

table {
  margin-bottom: 10px;
  border-collapse: collapse;
  display: table;
}

td, th {
  padding: 5px 10px;
  border: 1px solid #DDD;
}

caption {
  border: 1px dashed #DDD;
  border-bottom: 0;
  padding: 3px;
  text-align: center;
}

th {
  border-top: 1px solid #BBB;
  background-color: #F7F7F7;
}

table tr.firstRow th {
  border-top-width: 2px;
}

.ue-table-interlace-color-single {
  background-color: #fcfcfc;
}

.ue-table-interlace-color-double {
  background-color: #f7faff;
}

td p {
  margin: 0;
  padding: 0;
}</style>
<p style="text-align:justify;text-justify:inter-ideograph"><strong><span
  style="font-family: 华文中宋;font-size: 24px"><span
  style="font-family:华文中宋">同方全球「康健一生」（多倍保）终身重大疾病保险</span></span></strong><strong><span
  style="font-family: 华文中宋;font-size: 24px"><span style="font-family:华文中宋">条款</span></span></strong></p>
<p style="margin-left:5px"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">犹豫期</span></span></strong></p>
<p style="margin-left: 5px; text-align: left;"><span style=";font-family:宋体;font-size:14px"><span
  style="font-family:宋体">自您签收本合同的次日起，有</span></span><strong><span style="font-family: 宋体;font-size: 14px"><span
  style="font-family:宋体">十五日</span></span></strong><span style=";font-family:宋体;font-size:14px"><span
  style="font-family:宋体">的犹豫期。在此期间，请您认真审视本合同，如果您认为本合同与您的需求不相符，您可以在此期间提出解除本合同，我们将在扣除工本费后无息退还您所交纳的保险费。</span></span></p>
<p style="margin-left: 5px; text-align: left;"><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">解除合同时，您需要完整填写申请书并亲笔签名后，连同保险合同一起送达或邮寄给我们。本合同自我们收到您的申请书的当日零时起正式解除。我们自本合同生效日起自始不承担保险责任。</span></span>
</p>
<p style="margin-left:5px"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">等待期</span></span></strong></p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">本合同生效（或最后一次复效，以较迟者为准）日起九十天内（含第九十天）为本合同的等待期。</span></span></strong>
</p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">被保险人因遭受意外伤害（见释义）而导致身故或首次发病（见释义）并被确诊患有本合同约定的重大疾病（见释义）或轻症疾病（见释义），则不受等待期的限制。</span></span></strong>
</p>
<p style="margin-left:5px"><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">保险责任</span></span></strong></p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">在本合同有效期间内，我们承担下列保险责任：</span></span>
</p>
<p><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:14px">1.1.1&nbsp;</span><strong><span
  style="font-family: &#39;Times New (W1)&#39;;font-size: 14px"><span
  style="font-family:宋体">身故保险金</span></span></strong></p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">若被保险人于等待期内因疾病导致身故，我们将向您无息返还本合同累计已交纳的保险费，本合同效力终止。</span></span>
</p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">若被保险人因意外伤害或于等待期后因疾病导致身故，且身故时未满十八周岁，我们将按累计已交纳</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">的保险费向身故保险金受益人</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span
  style="font-family:宋体">给付身故保险金，本合同效力终止。</span></span></p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">若被保险人因意外伤害或于等待期后因疾病导致身故，且身故时年满十八周岁，我们将按被保险人身故时本合同的基本保险金额向身故保险金受益人给付身故保险金，本合同效力终止。</span></span>
</p>
<p><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:14px">1.1.2&nbsp;</span><strong><span
  style="font-family: &#39;Times New (W1)&#39;;font-size: 14px"><span
  style="font-family:宋体">重大疾病保险金</span></span></strong></p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">本合同约定的重大疾病分为</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">A</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">、</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">B</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">、</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">C</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">、</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">D</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">四组，详细疾病分组信息请见</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">重大疾病分组（见释义）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">。</span></span></p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">每组重大疾病保险金的给付次数以一次为限，给付后该组重大疾病的保险责任终止。本合同重大疾病保险金的累计给付次数以三次为限，当累计给付达到三次时，本合同效力终止。</span></span></strong>
</p><h4 style="margin-top:0;margin-bottom:8px;margin-left:5px"><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px">1.1.2.1.&nbsp;</span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">首次重大疾病保险金</span></span></strong></h4>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">若被保险人于等待期内发病或被确诊患有本合同约定的重大疾病，我们将向您无息返还本合同累计已交纳的保险费，本合同效力终止。</span></span>
</p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">若被保险人因意外伤害或于等待期后首次发病并</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span
  style="font-family:宋体">经我们</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">指定或认可的医院（见释义）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span
  style="font-family:宋体">的</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">专科医生（见释义）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">确诊首次患有本合同约定的重大疾病，我们将按本合同的基本保险金额向被保险人给付首次重大疾病保险金</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">（若被保险人同时符合一项以上重大疾病时，该给付以一次为限）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">，给付后</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span
  style="font-family:宋体">该重大疾病所属组别的保险责任终止。</span></span></p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">若我们已按上述约定给付首次重大疾病保险金，则本合同的现金价值（见释义）自首次重大疾病确诊之日起降低为零，同时，第</span></span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px">2.5.1</span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">条身故保险金的保险责任与第</span></span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px">2.5.3</span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">条轻症疾病保险金的保险责任均终止，我们仅继续承担重大疾病保险金的保险责任。</span></span></strong>
</p><h4 style="margin-top:0;margin-bottom:8px;margin-left:5px"><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px">1.1.2.2.&nbsp;</span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">第二次重大疾病保险金</span></span></strong></h4>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">在我们已按本合同的约定给付首次重大疾病保险金的情况下，若被保险人自首次重大疾病确诊之日起</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">满</span></span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px">180</span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">天后</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">，首次发病并被确诊首次患有本合同约定的除首次重大疾病所属组别以外其他组别中的任何一种重大疾病，我们将按本合同的基本保险金额向被保险人给付第二次重大疾病保险金</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">（若被保险人同时符合一项以上重大疾病时，该给付以一次为限）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">，给付后</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span
  style="font-family:宋体">该重大疾病所属组别的保险责任终止。</span></span></p><h4 style="margin-top:0;margin-bottom:8px;margin-left:5px">
  <span style="font-family: &#39;Times New Roman&#39;;font-size: 14px">1.1.2.3.&nbsp;</span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">第三次重大疾病保险金</span></span></strong></h4>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">在我们已按本合同的约定给付首次重大疾病保险金和第二次重大疾病保险金的情况下，若被保险人自第二次重大疾病确诊之日起</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">满</span></span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px">180</span></strong><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span
  style="font-family:宋体">天后</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">，首次发病并被确诊首次患有本合同约定的除首次重大疾病所属组别和第二次重大疾病所属组别以外其他组别中的任何一种重大疾病，我们将按本合同的基本保险金额向被保险人给付第三次重大疾病保险金</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">（若被保险人同时符合一项以上重大疾病时，该给付以一次为限）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">，本合同</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">效力</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">终止。</span></span></p>
<p><span style="font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:14px">1.1.3&nbsp;</span><strong><span
  style="font-family: &#39;Times New (W1)&#39;;font-size: 14px"><span
  style="font-family:宋体">轻症疾病保险金</span></span></strong></p>
<p><span style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">本合同约定的轻症疾病分为</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">A</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">、</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">B</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">、</span></span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px">C</span><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">三组，详细疾病分组信息请见</span></span><strong><span
  style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">轻症疾病分组（见释义）</span></span></strong><span
  style=";font-family:&#39;Times New Roman&#39;;font-size:14px"><span style="font-family:宋体">。</span></span></p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">每组轻症疾病保险金的给付次数以一次为限，给付后该组轻症疾病的保险责任终止。本合同轻症疾病保险金的累计给付次数以三次为限，当累计给付达到三次时，本项保险责任终止。</span></span></strong>
</p>
<p><strong><span style="font-family: &#39;Times New Roman&#39;;font-size: 14px"><span style="font-family:宋体">若被保险人同时符合本合同约定的重大疾病定义和轻症疾病定义的，我们仅承担给付重大疾病保险金的保险责任。</span></span></strong>
