<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<body style="background-color:#F6F7FA;">
    <title>活动列表</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
</head>
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">小程序</a></li>
    <li class="active">活动管理</li>
</ol>
<div class="container-fluid" style="background-color:white;padding-top:20px">
    <form class="form-inline" action="{:U('OperationProcedure/eventList')}" method="get">
        <input type="hidden" name="p" value="1">
        <div class="form-group">
            <div class="col-sm-2">
                <select  name="type"  class="form-control">
                    <option value="1">活动ID</option>
                    <option value="2" >活动名称</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="margin-left: 20px;margin-right: 20px;">
            <label for="end_time"></label>
            <input type="datetime" class="form-control"  value="" name="condition" id="" placeholder="请输入搜索条件">
        </div>
        <input type="hidden" name="p" value="1">
        <button type="submit" class="btn btn-success" style="background:#1AB394; border:0;opacity:1">
            <span class="glyphicon glyphicon-search">

            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <a href=""><button type="button" class="btn btn-success" style="background:#1AB394; border:0;opacity:0.8;float: right">添加活动</button></a>
    </form>

    <table class="table" style="margin-top:20px;text-align:center;">
        <thead style="height:20px;background:#1AB394; color:white">
        <tr>
            <th width="16%" align="center">活动ID</th>
            <th width="16%" align="center">活动名称</th>
            <th width="32%" align="center">活动简介</th>
            <th width="16%" align="center">开始时间</th>
            <th width="10%" align="center">场地</th>
            <th width="10%" align="center">操作</th>
        </tr>
        </thead>
        <tbody>
          <volist  name="res" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.eventname}</td>
                <td>{$vo.eventinfo}</td>
                <td>{$vo.starttime|date='Y-m-d H:i:s',###}</td>
                <td>{$vo.location}</td>
                <td align='center'>
                    <div class="clearfix">
                        <a href="">
                            <button type="button" class="bfL btn btn-success" style="background:#1AB394;border:0;opacity:0.8;width:70px;">编辑</button>
                        </a>
                    </div>
                </td>
            </tr>
          </volist>
        </tbody>
        <tr style="background-color: #F9F9F9;">
            <td colspan='17' width="200" align="center" height='30px' style="color:#C3C9DA;font-family:'微软雅黑';">
                <span style="display: inline-block;float:left;margin-left: 50px">第{$all}条,共{$count}条</span>
                <span style="display:inline-block">{$Page}</span>
                <span style="display:inline-block;float:right">当前第{$nowPage}页,共{$total}页</span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>